/* ------------------ GERAL ------------------ */

* {
	margin: 0px;
	padding: 0px;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

h2,
h3,
h3 {
	text-align: center;
}

/* ------------------ HEADER ------------------ */

.menu h1 {
	text-align: center;
	font-size: 3em;
	font-weight: 700;
	color: white;
	padding: 30px;
}

.menu {
	background-color: #6c464f;
}

.nav-link {
	text-decoration: none !important;
	color: black;
	font-size: 1.2em;
	background: transparent;
	cursor: pointer;
	position: relative;
}

.nav-link::before {
	content: "";
	position: absolute;
	background: #6c464f;
	color: white;
	width: 100%;
	height: 0%;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.5s ease;
}

.nav-link:hover {
	color: white;
}

.nav-link:hover::before {
	height: 100%;
}

/* --------------- MAIN - INTRODUCAO -------------- */

#introducao h2 {
	text-transform: uppercase;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 2.5em;
}

#introducao {
	margin: 40px auto;
}

#introducao p {
	text-align: justify;
}

#introducao a,
#eventos a {
	color: black;
	text-decoration: none;
	font-weight: 600;
}

/* ------------- MAIN - JOGO ------------- */

#jogo {
	background-color: #d1e0e2;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
}

#jogo iframe {
	width: 600px;
	align-self: center;
	margin-bottom: 40px;
	box-shadow: 0px 1px 5px #777;
}

.jogo {
	width: 700px;
	height: 400px;
	box-shadow: 0px 1px 5px #666;
}

.jogo p {
	text-align: center;
}

/* --------------- MAIN - EVENTOS -------------- */

h3 a {
	text-decoration: none;
	font-size: 1em;
	color: black !important;
}

#eventos h3 {
	transition: 0.5s all;
}

#eventos h3:hover {
	transform: scale(1.1);
}

/* ------------- MAIN - GANHADORES ------------- */

.card {
	width: 360px;
	padding: 20px;
	border: 1px solid #c3909b;
	border-radius: 30px;
	background-image: linear-gradient(#6c464f, #ca96a1, #cca7af);
	box-shadow: 2px 2px 10px rgb(104, 56, 56);
}

.card p {
	text-align: justify;
}

.nome {
	text-align: center !important;
	font-size: 1.4em;
	font-weight: 600;
	margin-top: 5px;
}

img {
	width: 100%;
	border-radius: 50%;
	border: 5px solid #6c464f;
}

.leia-mais {
	width: 130px;
	background: #6c464f;
	border-radius: 30px;
	padding: 5px 10px;
	box-shadow: 1px 1px 5px #583a41;
	transition: 0.5s all;
}

.leia-mais:hover {
	background: #58383f;
	transform: scale(1.1);
}

.leia-mais:hover a {
	font-weight: 600;
}

.leia-mais a {
	text-decoration: none;
	color: white;
	font-weight: 500;
}

#videos {
	background: #b3cdd1;
}

/* ------------------ FOOTER ----------------- */

#footer {
	background-color: #b3cdd1;
	padding: 30px;
}

#footer p {
	text-align: center;
}

/* ------------------ PAGINA GANHADORES ----------------- */

.cientistas img {
	width: 100%;
}

.cientistas {
	transition: 0.5s all;
}

.cientistas:hover {
	transform: scale(1.02);
}

.nome-cientistas p {
	font-size: 1.7em;
}

.titulo-2 p {
	text-align: right;
}

.titulo-1,
.titulo-2 {
	margin-top: 10px;
}

iframe {
	width: 100%;
	margin: 20px;
}
/* ------------------ PAGINA SOBRE NOS ----------------- */

#alunos {
	display: flex;
	justify-content: center;
}

#sobre-nos h2 {
	text-transform: uppercase;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 3em;
}

.aluno img {
	display: block;
	border-radius: 15px 15px 0px 0px;
	width: 100%;
	border: none;
}

.aluno p {
	text-align: justify;
	margin: 0px 15px 15px 15px;
}

.aluno {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 32%;
	border-radius: 15px;
	min-width: 300px;
	box-shadow: 0px 1px 3px;
	transition: 0.5s all;
	background: #fefefe;
	padding-bottom: 15px;
}

.aluno:first-child {
	margin-right: 30px;
}

.aluno:hover {
	transform: scale(1.01);
}

.aluno h3 {
	margin: 20px 0;
}

.icones {
	display: flex;
	width: 90%;
	justify-content: flex-start;
	align-content: center;
}

.icones a {
	text-decoration: none;
	color: #555;
	margin-right: 10px;
	transition: 0.5s all;
}

.icones a:hover {
	transform: scale(1.05);
}

.icones i {
	font-size: 2.5em;
}

.logo {
	border: none;
	border-radius: 0px;
}

/* ------------------ MEDIA QUERIES ----------------- */
@media screen and (max-width: 991px) {
	.titulo-1 p,
	.titulo-2 p {
		text-align: center;
		margin: 20px 0;
	}

	.text p {
		text-align: justify;
	}

	#eventos h2 {
		margin-bottom: 30px;
	}

	#eventos p {
		text-align: justify;
	}

	#alunos {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.aluno:hover {
		transform: none;
	}
	.aluno {
		width: 80%;
		margin-bottom: 30px;
	}

	.aluno:first-child {
		margin-right: 0px;
	}
}
@media screen and (max-width: 767.9px) {
	.cientistas:hover {
		transform: none;
	}

	.cientistas img {
		width: 70%;
	}

	#jogo iframe {
		width: 95%;
	}
}

@media screen and (max-width: 450px) {
	.menu h1 {
		font-size: 2em;
	}

	.cientistas img {
		width: 90%;
	}

	#sobre-nos h2 {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
}
