/* ------------------ GERAL ------------------ */

* {
	margin: 0px;
	padding: 0px;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

#introducao h1 {
	text-transform: uppercase;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h1,
h2,
h3 {
	text-align: center;
}

h2 a {
	text-decoration: none;
	font-size: 1em;
	color: black !important;
}

#eventos h2 {
	transition: 0.5s all;
}

#eventos h2:hover {
	transform: scale(1.1);
}

/* ------------------ HEADER ------------------ */

.titulo p {
	text-align: center;
	font-size: 3em;
	font-weight: 700;
	color: white;
	padding: 30px;
}

.titulo {
	max-width: 100%;
}

.menu {
	background-color: #6c464f;
}

.nav-link {
	text-decoration: none !important;
	color: black;
	font-size: 1.2em;
	background: transparent;
	cursor: pointer;
	position: relative;
}

.nav-link::before {
	content: "";
	position: absolute;
	background: #6c464f;
	color: white;
	width: 100%;
	height: 0%;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.5s ease;
}

.nav-link:hover {
	color: white;
}

.nav-link:hover::before {
	height: 100%;
}

/* --------------- MAIN - EVENTOS -------------- */

/* ------------- MAIN - GANHADORES ------------- */

.card {
	width: 360px;
	padding: 20px;
	border: 1px solid #c3909b;
	border-radius: 30px;
	background-image: linear-gradient(#6c464f, #ca96a1, #cca7af);
	box-shadow: 2px 2px 10px rgb(104, 56, 56);
}

.card p {
	text-align: justify;
}

.nome {
	text-align: center !important;
	font-size: 1.4em;
	font-weight: 600;
	margin-top: 5px;
}

img {
	width: 100%;
	border-radius: 50%;
	border: 5px solid #6c464f;
}

.leia-mais {
	width: 130px;
	background: #6c464f;
	border-radius: 30px;
	padding: 5px 10px;
	box-shadow: 1px 1px 5px #583a41;
	transition: 0.5s all;
}

.leia-mais:hover {
	background: #58383f;
	transform: scale(1.1);
}

.leia-mais:hover a {
	font-weight: 600;
}

.leia-mais a {
	text-decoration: none;
	color: white;
	font-weight: 500;
}

#videos {
	background: #b3cdd1;
}
/* ------------- MAIN - JOGO ------------- */

#jogo {
	background-color: #b3cdd1;
}

.jogo {
	width: 700px;
	height: 400px;
	background-color: #888;
}

.jogo p {
	text-align: center;
}

/* ------------------ FOOTER ----------------- */

#footer {
	background-color: #b3cdd1;
	padding: 30px;
}

#footer p {
	text-align: center;
}

/* ------------------ PAGINA GANHADORES ----------------- */

.cientistas img {
	width: 100%;
}

.cientistas {
	transition: 0.5s all;
}

.cientistas:hover {
	transform: scale(1.1);
}

.nome-cientistas p {
	font-size: 1.7em;
}

.titulo-2 p {
	text-align: right;
}

.titulo-1,
.titulo-2 {
	margin-top: 10px;
}

/* ------------------ PAGINA SOBRE NOS ----------------- */

.aluno p {
	text-align: justify;
}

.aluno {
	padding: 15px;
	border-radius: 15px;
	box-shadow: 0px 1px 3px;
	transition: 0.5s all;
	background: #fefefe;
}

.aluno:hover {
	transform: scale(1.05);
}

.aluno h2 {
	padding: 10px 0 10px;
}

#sobre-nos img {
	width: 300px;
	border: none;
	border-radius: 0px;
}
/* ------------------ MEDIA QUERIES ----------------- */
@media screen and (max-width: 768px) {
	.titulo-1 p,
	.titulo-2 p {
		text-align: center;
		margin: 20px 0;
	}

	.text p {
		text-align: justify;
	}

	#eventos h1 {
		margin-bottom: 30px;
	}

	#eventos p {
		text-align: justify;
	}
}

@media screen and (max-width: 450px) {
	.titulo {
		font-size: 60%;
	}
}
